.RecipePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e82f3e;
  min-height: 100vh;
}

.RecipePage__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: white;

  padding: 20px 10px 30px;
}

@media screen and (min-width: 800px) {
  .RecipePage__main {
    width: 85%;

    padding: 40px 65px 30px;
  }
}
